<footer class="footer">
  <div class="grid">
    <div class="grid__row">
      <div class="grid__column-2-4">
        <h3 class="footer__heading">DỊCH VỤ KHÁCH HÀNG</h3>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="" class="footer-item__link">Trung Tâm Trợ Giúp Shopee</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Shopee Blog</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Shopee Mall</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Hướng Dẫn Mua Hàng/Đặt Hàng</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Hướng Dẫn Bán Hàng</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Ví ShopeePay</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Shopee Xu</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Đơn Hàng</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Trả Hàng/Hoàn Tiền</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Liên Hệ Shopee</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Chính Sách Bảo Hành</a>
          </li>
        </ul>
      </div>
      <div class="grid__column-2-4">
        <h3 class="footer__heading">SHOPEE VIỆT NAM</h3>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="" class="footer-item__link">Về Shopee</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Tuyển Dụng</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Điều Khoản Shopee</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Chính Sách Bảo Mật</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Shopee Mall</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Kênh Người Bán</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Flash Sale</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Tiếp Thị Liên Kết</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">Liên Hệ Truyền Thông</a>
          </li>
        </ul>
      </div>
      <div class="grid__column-2-4">
        <h3 class="footer__heading">THANH TOÁN</h3>
        <ul class="footer-list footer__pay-ship">
          <li class="footer-item">
            <div
              class="footer-item__pay-img"
              style="background-image: url('./assets/img/pay_visa.png')"
            ></div>
          </li>
          <li class="footer-item">
            <div
              class="footer-item__pay-img"
              style="background-image: url('./assets/img/pay_mastercard.png')"
            ></div>
          </li>
          <li class="footer-item">
            <div
              class="footer-item__pay-img"
              style="background-image: url('./assets/img/pay_jcb.png')"
            ></div>
          </li>
          <li class="footer-item">
            <div
              class="footer-item__pay-img"
              style="background-image: url('./assets/img/pay_amex.png')"
            ></div>
          </li>
          <li class="footer-item">
            <div
              class="footer-item__pay-img"
              style="background-image: url('./assets/img/pay_cod.png')"
            ></div>
          </li>
          <li class="footer-item">
            <div
              class="footer-item__pay-img"
              style="background-image: url('./assets/img/pay_installment.png')"
            ></div>
          </li>
          <li class="footer-item">
            <div
              class="footer-item__pay-img"
              style="background-image: url('./assets/img/pay_shopeepay.png')"
            ></div>
          </li>
          <li class="footer-item">
            <div
              class="footer-item__pay-img"
              style="background-image: url('./assets/img/pay_spaylater.png')"
            ></div>
          </li>
        </ul>

        <h3 class="footer__heading">ĐƠN VỊ VẬN CHUYỂN</h3>
        <ul class="footer-list footer__pay-ship">
          <li class="footer-item">
            <div
              class="footer-item__ship-img"
              style="background-image: url('./assets/img/ship_spx.png')"
            ></div>
          </li>
          <li class="footer-item">
            <div
              class="footer-item__ship-img"
              style="background-image: url('./assets/img/ship_ghn.png')"
            ></div>
          </li>
          <li class="footer-item">
            <div
              class="footer-item__ship-img"
              style="background-image: url('./assets/img/ship_viettel.png')"
            ></div>
          </li>
          <li class="footer-item">
            <div
              class="footer-item__ship-img"
              style="background-image: url('./assets/img/ship_vnpost.png')"
            ></div>
          </li>
          <li class="footer-item">
            <div
              class="footer-item__ship-img"
              style="background-image: url('./assets/img/ship_jnt.png')"
            ></div>
          </li>
          <li class="footer-item">
            <div
              class="footer-item__ship-img"
              style="background-image: url('./assets/img/ship_grab.png')"
            ></div>
          </li>
          <li class="footer-item">
            <div
              class="footer-item__ship-img"
              style="background-image: url('./assets/img/ship_ninjavan.png')"
            ></div>
          </li>
          <li class="footer-item">
            <div
              class="footer-item__ship-img"
              style="background-image: url('./assets/img/ship_be.png')"
            ></div>
          </li>
          <li class="footer-item">
            <div
              class="footer-item__ship-img"
              style="background-image: url('./assets/img/ship_ahamove.png')"
            ></div>
          </li>
        </ul>
      </div>
      <div class="grid__column-2-4">
        <h3 class="footer__heading">THEO DÕI SHOPEE</h3>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="" class="footer-item__link">
              <i class="footer-item__icon fa-brands fa-facebook"></i>
              Facebook
            </a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">
              <i class="footer-item__icon fa-brands fa-instagram"></i>
              Instagram
            </a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item__link">
              <i class="footer-item__icon fa-brands fa-linkedin"></i>
              LinkedIn
            </a>
          </li>
        </ul>
      </div>
      <div class="grid__column-2-4">
        <h3 class="footer__heading">TẢI ỨNG DỤNG SHOPEE</h3>
        <div class="footer__download">
          <img
            src="./assets/img/qr_code.png"
            alt="Download QR"
            class="footer__download-qr"
          />
          <div class="footer__download-apps">
            <a href="" class="footer__download-app-link">
              <img
                src="./assets/img/app_store.png"
                alt="App Store"
                class="footer__download-app-img"
              />
            </a>
            <a href="" class="footer__download-app-link">
              <img
                src="./assets/img/gg_play.png"
                alt="Google Play"
                class="footer__download-app-img"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <p class="footer__text">© 2025 Shopee. Tất cả các quyền được bảo lưu.</p>
    <div class="footer__countries">
      <span class="footer__label">Quốc gia & Khu vực:</span>
      <a href="" class="footer__country-link">Singapore</a>
      <span class="footer__country-separate">|</span>
      <a href="" class="footer__country-link">Indonesia</a>
      <span class="footer__country-separate">|</span>
      <a href="" class="footer__country-link">Thái Lan</a>
      <span class="footer__country-separate">|</span>
      <a href="" class="footer__country-link">Malaysia</a>
      <span class="footer__country-separate">|</span>
      <a href="" class="footer__country-link">Việt Nam</a>
      <span class="footer__country-separate">|</span>
      <a href="" class="footer__country-link">Philippines</a>
      <span class="footer__country-separate">|</span>
      <a href="" class="footer__country-link">Brazil</a>
      <span class="footer__country-separate">|</span>
      <a href="" class="footer__country-link">México</a>
      <span class="footer__country-separate">|</span>
      <a href="" class="footer__country-link">Colombia</a>
      <span class="footer__country-separate">|</span>
      <a href="" class="footer__country-link">Chile</a>
      <span class="footer__country-separate">|</span>
      <a href="" class="footer__country-link">Đài Loan</a>
    </div>
  </div>

  <div class="grid__row footer__policy-section">
    <ul class="footer__policy-list">
      <li class="footer__policy-item">
        <a href="" class="footer__policy-link">CHÍNH SÁCH BẢO MẬT</a>
      </li>
      <li class="footer__policy-item">
        <a href="" class="footer__policy-link">QUY CHẾ HOẠT ĐỘNG</a>
      </li>
      <li class="footer__policy-item">
        <a href="" class="footer__policy-link">CHÍNH SÁCH VẬN CHUYỂN</a>
      </li>
      <li class="footer__policy-item">
        <a href="" class="footer__policy-link"
          >CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN</a
        >
      </li>
    </ul>

    <div class="footer__certification">
      <a href="" class="footer__certification-link">
        <img
          src="./assets/img/logo_ccdv.png"
          alt="Đã đăng ký bộ công thương"
          class="footer__certification-img"
        />
      </a>
      <a href="" class="footer__certification-link">
        <img
          src="./assets/img/logo_ccdv.png"
          alt="Đã đăng ký bộ công thương"
          class="footer__certification-img"
        />
      </a>
    </div>

    <div class="footer__company-info">
      <p class="footer__company-name">Công ty TNHH Shopee</p>
      <p class="footer__company-text">
        Địa chỉ: Tầng 4-5-6, Tòa nhà Capital Place, số 29 đường Liễu Giai,
        Phường Ngọc Hà, Thành phố Hà Nội, Việt Nam
      </p>
      <p class="footer__company-text">
        Chăm sóc khách hàng: Gọi tổng đài Shopee (miễn phí) hoặc Trò chuyện với
        Shopee ngay trên Trung tâm trợ giúp
      </p>
      <p class="footer__company-text">
        Chịu Trách Nhiệm Quản Lý Nội Dung: Nguyễn Bùi Anh Tuấn
      </p>
      <p class="footer__company-text">
        Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch và Đầu tư TP Hà Nội cấp
        lần đầu ngày 10/02/2015
      </p>
      <p class="footer__company-text">
        © 2015 - Bản quyền thuộc về Công ty TNHH Shopee
      </p>
    </div>
  </div>
</footer>

<!-- Modal -->
    <div class="modal">
        <div class="modal__overlay"></div>
        
        <div class="modal__body">
            <div class="modal__inner">
                <!-- Register Form -->
                <div class="auth-form" id="register-form">
                    <div class="auth-form__container">
                        <!-- Register Form Header -->
                        <div class="auth-form__header">
                            <h3 class="auth-form__heading">Đăng ký</h3>
                            <span class="auth-form__switch-btn" id="switch-to-login">Đăng nhập</span>
                        </div>
                        <!-- Register Form Body -->
                        <div class="auth-form__form">
                            <div class="auth-form__group">
                                <div class="auth-form__input-wrap">
                                    <input type="text" class="auth-form__input" placeholder="Email của bạn" />
                                </div>
                                <div class="auth-form__input-wrap">
                                    <input type="password" class="auth-form__input" placeholder="Mật khẩu của bạn" />
                                </div>
                                <div class="auth-form__input-wrap">
                                    <input type="password" class="auth-form__input" placeholder="Nhập lại mật khẩu của bạn" />
                                </div>
                            </div>
                        </div>
                        <!-- Register Form Aside -->
                        <div class="auth-form__aside">
                            <p class="auth-form__policy-text">
                                Bằng việc đăng ký, bạn đã đồng ý với T-Win Shop về
                                <a href="https://help.shopee.vn/portal/4/article/77243" class="auth-form__policy-link">Điều khoản dịch vụ</a>
                                &
                                <a href="https://help.shopee.vn/portal/4/article/77244" class="auth-form__policy-link">Chính sách bảo mật</a>
                            </p>
                        </div>
                        <!-- Register Form Controls -->
                        <div class="auth-form__controls">
                            <button class="btn btn--normal auth-form__controls-back">TRỞ LẠI</button>
                            <button class="btn btn--primary">ĐĂNG KÝ</button>
                        </div>
                    </div>
                    <!-- Register Form Socials -->
                    <div class="auth-form__socials">
                        <a href="" class="btn btn--with-icon btn--size-s auth-form__socials--facebook">
                            <i class="auth-form__socials-icon fa-brands fa-facebook-square"></i>
                            <span class="auth-form__socials-title">Kết nối với Facebook</span>
                        </a>
                        <a href="" class="btn btn--with-icon btn--size-s auth-form__socials--google">
                            <i class="auth-form__socials-icon fa-brands fa-google"></i>
                            <span class="auth-form__socials-title">Kết nối với Google</span>
                        </a>
                    </div>
                </div>
                <!-- Login Form -->
                <div class="auth-form" id="login-form" style="display: none">
                    <div class="auth-form__container">
                        <!-- Login Form Header -->
                        <div class="auth-form__header">
                            <h3 class="auth-form__heading">Đăng nhập</h3>
                            <span class="auth-form__switch-btn" id="switch-to-register">Đăng ký</span>
                        </div>
                        <!-- Login Form Body -->
                        <div class="auth-form__form">
                            <div class="auth-form__group">
                                <div class="auth-form__input-wrap">
                                    <input type="text" class="auth-form__input" placeholder="Email của bạn" />
                                </div>
                                <div class="auth-form__input-wrap">
                                    <input type="password" class="auth-form__input" placeholder="Mật khẩu của bạn" />
                                </div>
                            </div>
                        </div>
                        <!-- Login Form Aside -->
                        <div class="auth-form__aside">
                            <div class="auth-form__help">
                                <a href="" class="auth-form__help-link auth-form__help-forgot">Quên mật khẩu</a>
                                <span class="auth-form__help-separate"></span>
                                <a href="" class="auth-form__help-link">Cần trợ giúp?</a>
                            </div>
                        </div>
                        <!-- Login Form Controls -->
                        <div class="auth-form__controls">
                            <button class="btn btn--normal auth-form__controls-back">TRỞ LẠI</button>
                            <button class="btn btn--primary">ĐĂNG NHẬP</button>
                        </div>
                    </div>
                    <!-- Login Form Socials -->
                    <div class="auth-form__socials">
                        <a href="" class="btn btn--with-icon btn--size-s auth-form__socials--facebook">
                            <i class="auth-form__socials-icon fa-brands fa-facebook-square"></i>
                            <span class="auth-form__socials-title">Kết nối với Facebook</span>
                        </a>
                        <a href="" class="btn btn--with-icon btn--size-s auth-form__socials--google">
                            <i class="auth-form__socials-icon fa-brands fa-google"></i>
                            <span class="auth-form__socials-title">Kết nối với Google</span>
                        </a>
                    </div>
                </div>
                <!-- Admin Login Form -->
                <div class="auth-form" id="admin-login-form" style="display: none">
                    <div class="auth-form__container">
                        <!-- Admin Login Form Header -->
                        <div class="auth-form__header">
                            <h3 class="auth-form__heading">Đăng nhập Quản trị</h3>
                        </div>
                        <!-- Admin Login Form Body -->
                        <div class="auth-form__form">
                            <div class="auth-form__group">
                                <input type="text" class="auth-form__input" id="admin-email" placeholder="Tài khoản Admin" />
                                <input type="password" class="auth-form__input" id="admin-password" placeholder="Mật khẩu" />
                            </div>
                        </div>
                        <!-- Admin Login Form Controls -->
                        <div class="auth-form__controls" style="margin-top: 30px">
                            <button class="btn btn--normal auth-form__controls-back" onclick="closeModal()">TRỞ LẠI</button>
                            <button class="btn btn--primary" id="admin-submit-btn">ĐĂNG NHẬP</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>